# ignore all files
*
# except for the following
!.gitignore 
!*/
!*.m
!*.slx
!README.md
!*/README_MATLAB_CODE.txt
!*/assets/
!*/assets/*.png
!*/assets/*.jpg
!*/artifacts/
!*/artifacts/*.csv
!*/artifacts/*.json
!*/report/
!*/report/**
*/report/*.doc#
